* {
  font-family: monospace;
}
body{

  background-color: rgba(132, 74, 138, 0.17);
}

h1{
  margin-left: 21%;
    font-size: 28px;
}
[type="submit"] {
  color: white;
  background-color: #957676;
  border-radius: 7px;
  border-color: rgb(118, 92, 92);
  border-style: outset;
  width: 28%;
  margin: 21px 35%;
}

#log-in{
  border: 1px dashed;
  width: 350px;
  margin: 210px 420px;
  background-color: rgba(160, 114, 166,0.31);
}


[type="text"], [type="password"]{
  width: 63%;
  height: 28px;
  border: 1px inset;
  box-shadow: 7px 4px 15px 3px #895b5b;
  background-color: rgb(255, 255, 255);
  display: block;
  margin: 7% 18% 0%;
  padding-left: 14px;

}
